<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>{% block title %}{% endblock %} </title>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid" style="height:95%">
       <div class="row">
           <div class="col-sm-2" style="border:solid">
               <center><img src="{% static 'images/Harry-Potter.jpg' %}" class="responsive-img" style="max-height:150px"/></center>
           </div>
           <div class="col-sm-10" style="border:solid">
               <center><h1>Blog Làm từ Python Django</h1></center>
           </div>
       </div>
       <div class="row">
            <div class="col-sm-2" style="border:solid; height:300px">
                <div class="bs-sliderbar" style="border:solid">
                    <ul class="nav flex-column">
                        <li class="nav-link"><a href="/">Home</a></li>
                        <li class="nav-link"><a href="/information">Information</a></li>
                        <li class="nav-link"><a href="/contact">Contact</a> </li>
                        <li class="nav-link"><a href="/blog">Blog</a> </li>
                        <li> The sliderbar </li>
                        <li> The sliderbar </li>
                        <li> The sliderbar </li>
                        <li> The sliderbar </li>
                        <li> The sliderbar </li>
                        <li> The sliderbar </li>
                        <li> The sliderbar </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <h1>Content</h1>
                {% block content %}

                {% endblock %}
            </div>
       </div>
   </div>
   <footer>
        <div class="container-fluid">
            <p> Facebook | Twister | Instagram </p>
        </div>
   </footer>
</body>
</html>